@import '../../utils/scss/variables.scss';

.app {
  display: grid;
  grid-template-columns: minmax(100px, 300px) 0 1fr;
  gap: 10px;
  background-color: $primary-bg;
  font-family: 'Open Sans', Arial, sans-serif;

  &__routes {
    max-height: 100vh;
    overflow-y: auto;
    padding: 10px;
  }

  &__input {
    width: 100%;
    margin-bottom: 30px;
  }
}