@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('/assets/fonts/open-sans/open-sans-regular.woff2') format('woff2'),
    url('/assets/fonts/open-sans/open-sans-regular.woff') format('woff');
}