// Fonts

$open-sans: 'Open Sans', Arial, sans-serif;

// Colors

$primary-bg: #e6e4e4;
$text: black;
$text-fade: lighten(black, 30%);

// Transitions

$core-tr: 0.3s;

// Breakpoints

$mobile: 500px;